In [ ]:
"""
   Series : A panda series is like a column in a table 
"""
import pandas as pd
cars=["volvo","BMW","Audi","Honda","Hyndai","Tata","jaguar"]
my_car_series_default_lable=pd.Series(cars)
my_car_series_custome_lable=pd.Series(cars,index=["sweden","Germany","Germany","Japan","south Korea","India","UK"])
print(my_car_series_default_lable[0])
print(my_car_series_default_lable[0:3])
print(my_car_series_custome_lable['Japan'])
print(my_car_series_custome_lable)
print(my_car_series_default_lable)

In [ ]:
""" 
Binary operations 
"""

import pandas as pd
first=pd.Series([1,2,3,4,5,6,7,8,9,10,11])
second=pd.Series([10,20,30,40,50,60,70,80,90,100,110])
# Addition
addition=first.add(second,fill_value=0)
print(addition)
subtraction=first.sub(second,fill_value=0)
print(subtraction) 
print("mean: ",addition.mean())

In [ ]:
""" 
Conversion operation in series:
"""
import pandas as pd
nifty=pd.read_csv("data/nifty_data.csv")

dtype_before=nifty.dtypes
nifty["Open"]=nifty["Open"].astype(int)
dtype_after=nifty.dtypes
print(dtype_before)
print("_____________________")
print(dtype_after)

In [ ]:
"""
DataFrame: A Pandas DataFrame is a 2 dimensional data structure, 
like a 2 dimensional array, or a table with rows and columns.
"""
import pandas as pd
import numpy as np
student_marks={
    "name":["muni","phani","lokesh","raj","mohan"],
    "operating system":[88,78,83,55,77],
    "computer network":[77,86,66,54,np.nan],
    "DBMS":[75,56,55,63,76]
}

# creating student_marks dataframe
marks_dataframe=pd.DataFrame(student_marks)
#accessing columns of dataframe
print(marks_dataframe[["name","operating system","DBMS"]])
# read_csv file as data frame
nifty_dataframe=pd.read_csv("data/nifty_data.csv",index_col="Date")
print(nifty_dataframe.loc["25-Oct-2022"])
print(nifty_dataframe["Shares Traded"])
'''Row Selection: Pandas provide a unique method to retrieve rows from a Data frame. 
DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame.
if we want to retrieve one row then it returs the data in the form of series.
if we want two or more rows we will get data as dataFrame'''
print(marks_dataframe.loc[0])
#print(marks_dataframe.loc[[0,1]])
print(marks_dataframe.iloc[2])
""" 
To show missing values we can use .isnull() function, it prints True if value is missing else prints False.
"""
print(marks_dataframe.isnull())
""" 
In order to fill null values in a datasets, we use fillna(), replace() and interpolate() function 
these function replace NaN values with some value of their own.
"""
marks_dataframe.fillna(0)
""" 
In order to drop a null values from a dataframe, we used dropna() function 
this fuction drop Rows/Columns of datasets with Null values in different ways.
"""
marks_dataframe.dropna()

In [ ]:
""" 
Iteration over rows ans columns
"""
import pandas as pd
import numpy as np
student_marks={
    "name":["muni","phani","lokesh","raj","mohan"],
    "operating system":[88,78,83,55,77],
    "computer network":[77,np.nan,66,54,np.nan],
    "DBMS":[75,56,55,63,76]
}
marks_df=pd.DataFrame(student_marks)
# iterate over rows
for row, val in marks_df.iterrows():
    print(row, val)
    print()
# iterate over columns
columns=list(marks_df)
print(columns)
for i in columns:
    print(marks_df[i])