Series

In [27]:
import pandas as pd
import numpy as np
list_1=['a','b','c','d','e','f','g','h']
label_1=[1,2,3,4,5,6,7,8]
ser_1=pd.Series(data=list_1,index=label_1)
ser_1
np_array_1=np.array([1.1,2.2,3.3,4.4,5.5,6.6,7.7,8.8])
ser_2=pd.Series(data=np_array_1,index=label_1)
ser_2
dict_1={"f_name":"muni",
        "l_name":"kumar",
        "company":"zoho",
        "age":21}
ser_3=pd.Series(dict_1)
ser_3
ser_3["age"]
ser_1.dtype
ser_4=pd.Series({4:5,5:6,6:7,7:8})
ser_4+ser_2

1     NaN
2     NaN
3     NaN
4     9.4
5    11.5
6    13.6
7    15.7
8     NaN
dtype: float64

Data frames

In [41]:
arr_2=np.random.randint(10,50,size=(4,4))
arr_2
df_1=pd.DataFrame(arr_2,['A','B','C','D'],['W','X','Y','Z'])
df_1
dict_3={
    'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
    'two':pd.Series([10,20,30],index=['a','b','c'])
}
df_2=pd.DataFrame(dict_3)
df_2
pd.DataFrame.from_dict(dict([
    ('A',[1,2,3]),('B',[4,5,6])
]),orient='index',columns=['one','two','three'])
df_2

   one   two
a    1  10.0
b    2  20.0
c    3  30.0
d    4   NaN

Modifing and accessing data

In [67]:
df_1[['W','Y']]
df_1.loc[['A','B']]
df_1.loc[['A','B'],['W','X']]
df_1['new']=df_1['W']+df_1['X']+df_1['Y']
df_2['mult']=df_2['one']*df_2['two']
# Make a new row by appending
dict_2={'W':21,'X':33,'Y':31,'Z':43}
new_row=pd.Series(dict_2,name='E')
df_1=df_1.append(new_row)
df_1.drop('new',axis=1,inplace=True)
df_1.drop('E',axis=0,inplace=True)
df_1

/tmp/ipykernel_22976/555291926.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1=df_1.append(new_row)

    W   X   Y   Z
A  11  40  37  47
B  49  26  33  20
C  36  38  45  10
D  37  10  48  26